[Unit]
Description=BTCPC Clock Node
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntclaw/repos/btcpc
ExecStart=/usr/bin/node bin/btcpc-clock
Restart=on-failure
RestartSec=15
Environment=NODE_ENV=production
EnvironmentFile=/home/ubuntclaw/repos/btcpc/.env
Environment=P2P_PORT=6943

[Install]
WantedBy=default.target
