[Unit]
Description=BTCPC Flipper Zero Bridge

[Service]
Type=simple
WorkingDirectory=/home/ubuntclaw/repos/btcpc
ExecStart=/usr/bin/node bin/btcpc-flipper-listener
Restart=always
RestartSec=10
Environment=NODE_ENV=production
EnvironmentFile=/home/ubuntclaw/repos/btcpc/.env

[Install]
WantedBy=default.target
